/*
For theme purposes, since we don't have sass

TEAL_DARK: #009688


*/

/*
for smaller screen sizes, use media queries
*/

.navbar-default {
    background: #009688;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.error-message {
    color: rgb(198, 40, 40);
    background: white;
    padding: 5px;
}

.search-result-wrapper {
    overflow: auto;
    box-shadow: 1px 3px 7px 1px #CCC;
    padding: 0px;
}

.search-result-wrapper .panel-default {
    border: 0;
}

.search-result-wrapper .panel-default .panel-heading {
    color: #009688;
    background: white;
    width: 100%;
    position: fixed;
}

.search-result-wrapper .media-list {
    padding: 20px;
    padding-top: 60px;
}

.align-center {
    text-align: center;
}