<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <form role="search" name="searchForm" ng-submit="onSubmit($event)">
                <div class="input-group" ng-class="{'has-error': errorMessage}">
                    <input maxlength="12" required type="text" class="form-control" name="query" ng-model="formData.query" placeholder="Search VSN Sequences">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search!</button>
                    </span>
                </div>
                <div class="error-message" ng-if="errorMessage">{{errorMessage}}</div>           
            </form>
        </div>
        <div class="col-sm-8 search-result-wrapper" ng-style="{'max-height': (windowHeight - 130) + 'px'}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Search Results
                    <small ng-if="results.length">({{results.length}})</small>
                </div>
                <ul class="media-list">
                    <li class="media" ng-repeat="item in results">
                        <div class="media-body">
                            <h5 class="media-heading">{{item.year}} {{item.make}} {{item.model}}</h5>
                            <p>
                                {{item.serial_number_pattern}}<br/>
                                <small>{{item.trim_name}}</small>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
